:root{
    --primary: #FF392B;

    --red: #FF392B;
    --blue: #2b4eff;
    --green: #2eae32;

    --primary-text: #000000;

    --input-bg: #F2F2F2;

    --secondary-text: #b7b7b7;
    --white-text: #ffffff;

    --main-bg-color: #ffffff;
    --secondary-bg-color: #fafafa;
    --light-bg-color: #EEF6FF;
    --selected-bg-color: #ffeeee;
    --dark-bg-color: #d3d3d3;

    // --overlay-bg-color: #0000006b;
    // --login-modal-bg-color: #f6f6f6;

    --btn-active: #000000;

    --btn-disabled: #7C8DA5;

    --borderColor: #d3d3d3 ;

    //--shadow: 0px 2px 36px -4px rgba(34, 60, 80, 0.2);

    --fontWeight: normal;
    --fontWeightBold: bold;
    --fontSize: 20px;
    --fontSizeLarge: 32px;
    --fontSizeSmall: 16px;
    --mainPageMargin: 10px;

    // --modal-z-index: 10000;
    // --overlay-z-index: 1000;

    --mainFontFamily: 'Muli';
}
