.root {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.rootInline {
    display: inline-flex;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid var(--primary);
    box-sizing: border-box;
    cursor: pointer;
    flex-shrink: 0;
}

.checkboxChecked {
    background: var(--primary);
    background-image: url("~/public/images/circle-check-black.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 50% 50%;
    border: none;
}

.label {
    font-weight: bold;
    cursor: pointer;
}
