.root {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.rootInline {
    display: inline-flex;
}

.checkbox {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid var(--btn-active);
    box-sizing: border-box;
    cursor: pointer;
    flex-shrink: 0;
}

.checkboxChecked {
    border: 2px solid var(--btn-active);
    background-image: url("@/sharedComponents/assets/icons/checkbox-mark-svgrepo-com.png");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 50% 50%;
}

.label {
    font-weight: bold;
    cursor: pointer;
}
