@import "@/app/styles/mixins/adaptive.scss";

.ProductForm {
  display: flex;
  flex-direction: column;

  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;

  color: var(--primary);
  font-size: larger;
  display: flex;
  align-items: flex-start;

  font-size: var(--fontSize);

  color: var(--primary-text);

  svg {
    cursor: pointer;
  }

  .Icon {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
  }

  .Header {
    display: flex;
    flex-direction: row;
    min-width: calc(100% - (var(--mainPageMargin) * 2));
    max-width: calc(100% - (var(--mainPageMargin) * 2));

    padding: var(--mainPageMargin) var(--mainPageMargin) 0 var(--mainPageMargin);

    justify-content: space-between;
    align-items: center;
  }

  .Footer {
    position: fixed;
    height: 60px;
    display: flex;
    width: calc(100% - (var(--mainPageMargin) * 2));
    flex-direction: row;
    padding: 0 var(--mainPageMargin) var(--mainPageMargin) var(--mainPageMargin);
    justify-content: flex-end;
    bottom: var(--mainPageMargin);
  }

}

.ButtonBlock {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  .SecondaryButton {
    font-size: var(--fontSize);
    border-color: var(--btn-active)  !important;
    background-color: var(--main-bg-color) !important;
    color: var(--primary-text)  !important;
    min-width: 100px;
  }
  .MainButton {
    font-size: var(--fontSize);
    color: var(--white-text)  !important;
    min-width: 100px;
  }
}

.ModalButton{
    padding: 8px;
    margin-top: 20px;
    font-size: var(--fontSizeSmall);
    width: fit-content;
    background-color: var(--btn-active) !important;
    color: var(--white-text) !important;
    display: flex;
    align-self: end;
}

.Data {
  display: flex;
  flex-direction: column;

  flex-grow: 1;

  min-width: calc(100% - (var(--mainPageMargin) * 2));
  max-width: calc(100% - (var(--mainPageMargin) * 2));

  padding: var(--mainPageMargin) ;

  justify-content: stretch;

  // .MonthSelectorMonthWeeksCreating {
  //   padding: var(--mainPageMargin);
  //   background-color: var(--secondary-bg-color);
  //   border-radius: 5px;
  //   .CreatingHeader {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-between;
  //     align-items: center;
  //     font-weight: var(--fontWeightBold);
  //     .CreatingHeaderText{
  //         width: 60%;
  //     }
  //   }
  // }

  .LabelTop {
    margin-right: 5px;
    margin-top: 5px;
  }
  .LabelTopCenter{
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }

  .InputBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;

    .Label {
      margin-right: 5px;
      min-width: 90px;
      line-height: 90%;
    }
    .Icon {
      margin-top: 5px;
    }
    .NumberInput {
      display: flex;
      background-color: var(--input-bg);
      border: none;
      margin-left: 5px;
      width: 100px;
    }
    .Input {
      display: flex;
      flex-grow: 1;
      background-color: var(--input-bg);
      border: none;
      margin-left: 5px;
    }
    .OneInput {
      margin-left: 0px;
    }

    .Button {
      margin-left: 5px;
      font-size: var(--fontSizeSmall);
     
    }
  }

  .MainInput {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: var(--fontSizeLarge) !important;
    padding: 0px !important;
  }
  
  .Button {
    padding: 8px;

    font-size: var(--fontSizeSmall);
    background-color: var(--btn-active) !important;
    color: var(--white-text) !important;

    width: fit-content;
  }

  .TextArea {
    margin-top: 5px;
    background-color: var(--input-bg);
    border: none !important;
    min-height: 100px;
  }

  .Selector {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    .SelectorItem {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--main-bg-color);
      border: 1px solid var(--btn-active);
      cursor: pointer;
      padding: 12px;
      margin-right: 2px;
      border-radius: 5px;
      text-align: center;
    }
    .SelectorItemActive {
      background-color: var(--btn-active);
      color: var(--white-text);
    }
  }

  .addIngredientsForm{
    display: flex;
    flex-direction: column;
    background-color: var(--light-bg-color);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    NumberInput, .Input {
      background-color: var(--main-bg-color);
    }

    .headerOfAddIngredientsForm{
      font-weight: bold;
    }

    .Button{
      margin-top: 15px;
      margin-bottom: 5px;
      align-self:  end;
    }
  }
  .addedIngredients{
    .headerOfAddedIngredients{
      font-weight: bold;
    }

    display: flex;
    flex-direction: column;
    margin-bottom: calc(60px + var(--mainPageMargin));

    .Ingredient{
      margin: 5px;
      background-color: var(--input-bg);
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;


      .IngredientData{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
        padding: 5px;
        .IngredientDataName{
        }
        .IngredientDataCount{
        }
      }
    }

  }
}


.SmallClearIcon{
  margin-right: 5px;
  width: 12px;
  height: 12px;
}