@import "@/app/styles/mixins/adaptive.scss";


    .Icon{
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        cursor: pointer;
    }

    .Header{
        display: flex;
        flex-direction: column;

        background-color: var(--secondary-bg-color);
        padding: var(--mainPageMargin) var(--mainPageMargin) 5px var(--mainPageMargin);
        border-bottom: 1px solid var(--borderColor); 


        display: flex;
        flex-direction: column;

        .DatesHeader{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            .DatesHeaderLeft{
                display: flex;
                flex-direction: row;
                flex-basis: 20%;
            }
            .DatesHeaderCenter{
                display: flex;
                flex-direction: row;
                flex-basis: 60%;
                justify-content: center;
                align-items: center;
                font-size: var(--fontSize);
    
                .Month{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;
    
                    font-weight: var(--fontWeightBold);
                    text-align: center;
    
                    .Icon{
                        margin: 0;
                    }
                }
            }
            .DatesHeaderRight{
                display: flex;
                flex-direction: row;
                flex-basis: 20%;
                justify-content: flex-end;
            }
            
        }

        .TodayLink{
            color: var(--primary);
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: right;
            margin-top: 3px;
            align-self: flex-end;
            width: min-content;
        }

        .Dates{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            
            .WeekDay {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;

    
                .WeekDayDate{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 2em;
                    height: 2em;
                    border-radius: 2em !important;
    
                }
                .WeekDayName{
                    color: var(--secondary-text);

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 2em;
                    height: 2em;
                }
    
            }
            .DayOffDate{
                .WeekDayDate{
                    color: var(--red);
                    // font-weight: var(--fontWeightBold);
                }
            }
            .CurrentDate{
                .WeekDayDate{
                    color: var(--blue);
                    // font-weight: var(--fontWeightBold);
                }
            }
            .SelectedWeekDay{
                .WeekDayDate{
                    // color: var(--primary);
                    // font-weight: var(--fontWeightBold);

                    background-color: var(--primary) !important;
                    color: var(--white-text);

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .WeekDayName{
                    
                }
            }
        
        }
        
    }
    

    .Content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        // background-color: azure;
        overflow-y: auto;

        padding: 0 var(--mainPageMargin) 0 var(--mainPageMargin);

        .TestRow {
            height: 30px;
            // background-color: rgba(0, 191, 255, 0.145);
            margin: 10px;
        }
    }

    .MainButtonBlock{
        display: flex;
       
        padding: 0 var(--mainPageMargin) var(--mainPageMargin) var(--mainPageMargin);
        height: 50px;
        .Button{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary) !important;
            color: var(--white-text) !important;
            width: 100%;
            height: 50px;
            font-size: var(--fontSize);
            margin: 5px;
        }
    }

    .BlackButton{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--main-bg-color) !important;
        border-color: var(--btn-active)  !important;
        color: var(--white-text);
        width: fit-content;
        // width: 100%;
        // height: 50px;/
        font-size: var(--fontSize);
        margin: 5px;
    }

    .Footer{

        padding: 0 var(--mainPageMargin) var(--mainPageMargin) var(--mainPageMargin);

        background-color: var(--main-bg-color);
        height: 60px;
        display: flex;
        flex-direction: row;

        justify-content: space-around;
        // background-color: rgb(251, 240, 255);
        
        .Icon{
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
        .SelectedIcon{
            background-color: var(--light-bg-color);
        }
    }



    .WeekForm{
        display: flex;
        flex-direction: column;
    
        width: calc(100vw);
        height: calc(100vh);
    
        font-size: var(--fontSizeSmall);
        background-color: var(--main-bg-color);
    
    }



.ModalData {
    display: flex;
    flex-direction: column;
    width: calc(100vw);
    height: calc(100vh);
    font-size: var(--fontSizeSmall);

    .Header{
        border: none;
    }
  
    .LabelTop {
      margin-right: 5px;
      margin-top: 5px;
    }
    .LabelTopCenter{
      margin-right: 5px;
      margin-top: 5px;
      margin-bottom: 10px;
      text-align: center;
      font-weight: bold;
    }
  
    .InputBlock {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 5px;
      .Label {
        margin-right: 5px;
        min-width: 90px;
        line-height: 90%;
      }
      .Input {
        display: flex;
        flex-grow: 1;
        background-color: var(--input-bg);
        border: none;
        margin-left: 5px;
      }
    }
  
    .allIngredients{
      display: flex;
      flex-direction: column;
      margin-bottom: calc(60px + var(--mainPageMargin));
  
      .allIngredient{
        margin-top: 10px;
        background-color: var(--input-bg);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
        padding: 10px;

      }
  
    }

    .ButtonBlock {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: end;
        .MainButton {
          font-size: var(--fontSize);
          color: var(--white-text)  !important;
          min-width: 100px;
        }
      }

  }