@import "@/app/styles/mixins/adaptive.scss";

.MonthForm{
    display: flex;
    flex-direction: column;
    width: calc(100vw);
    height: calc(100vh);

    font-size: var(--fontSizeSmall);
    background-color: var(--main-bg-color);

    .Icon{
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        cursor: pointer;
    }

    
    .WeekDaysNames{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .WeekDayName{
            display: flex;
            justify-content: center;
            align-items: center;
            // color: var(--secondary-text);
            width: 2em;
            height: 2em;
            font-size: var(--fontSize);
        }
    }

    .Header{
        display: flex;
        flex-direction: column;
        background-color: var(--secondary-bg-color);
        display: flex;
        flex-direction: column;

        
        padding: var(--mainPageMargin) var(--mainPageMargin) 0 var(--mainPageMargin);

        .DatesHeader{
        
            display: flex;
            flex-direction: row;

            .DatesHeaderLeft{
                display: flex;
                flex-direction: row;
                flex-basis: 30%;
                .WeekOrMonthSelector{
                    // background-color: var(--dark-bg-color);
                    display: flex;
                    flex-direction: row;
                    // padding: 5px;
                    // border-radius: 5px;
                    .WeekOrMonthSelectorItem{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--main-bg-color);
                        border: 1px solid var(--btn-active);
                        cursor: pointer;
                        padding:  5px 10px 5px 10px;
                        margin-right: 2px;
                        border-radius: 5px;
                        // min-width: 40px;
                        text-align: center;
                    }
                    .WeekOrMonthSelectorItemActive{
                        background-color: var(--btn-active);
                        color: var(--white-text);
                    }   
                }
            }
            .DatesHeaderCenter{
                display: flex;
                flex-direction: row;
                flex-basis: 40%;
                justify-content: center;
                align-items: center;
                font-size: var(--fontSize);
                font-weight: var(--fontWeightBold);

                .Month{
                    cursor: pointer;
                    font-weight: var(--fontWeightBold);
                    text-align: center;
                    width: min-content;
                }
            }
            .DatesHeaderRight{
                display: flex;
                flex-direction: row;
                flex-basis: 30%;
                justify-content: flex-end;
            }
            
        }

        .MonthNavbar{
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-top: 5px;
            justify-content: space-between;

            .Selector {
                display: flex;
                background-color: var(--input-bg);
                border: none;
                flex-basis: 50%;
            }
            
        }
        .TodayLink{
            color: var(--primary);
            display: flex;
            align-items: center;
            cursor: pointer;
            // align-self: flex-end;
            width: min-content;
        }

        
    }

    .Content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: stretch;
        overflow-y: auto;


        .Weeks{
            display: flex;
            flex-direction: column;
            width: 100%;

            .Week {
                padding: 3px var(--mainPageMargin) 3px var(--mainPageMargin);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: var(--fontSize);
                margin-bottom: 10px;
                border-top: 1px solid var(--borderColor);

                .WeekNumber{
                    color: var(--secondary-text);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 2em;
                    height: 2em;
                }
                .WeekDay {
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 2em;
                    height: 4em;
                    // background-color: rgba(127, 255, 212, 0.201);
                    

                    .WeekDayDate{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 2em;
                        height: 2em;
                        border-radius: 2em  !important;
                        // background-color: aquamarine;
                    }
        
                }
                .DayOffDate{
                    .WeekDayDate{
                        color: var(--red);
                    }
                }
                .isPlanned{
                    .WeekDayDate{
                        color: var(--blue);
                       border: 2px solid var(--green-bg-color) !important;
                    }
                }
                .isChecked{
                    .WeekDayDate{
                        color: var(--blue);
                        background-color: var(--green-bg-color) !important;
                    }
                }
                .CurrentDate{
                    .WeekDayDate{
                        color: var(--blue);
                    }
                }
                .SelectedWeekDay{

                    .WeekDayDate{
                        background-color: var(--primary) !important;
                        color: var(--white-text);
                    }
                }
                
            }
            

        }


        .Months{
            display: flex;
            flex-direction: row;
            // flex-grow: 1;
            flex-wrap: wrap;
            overflow-y: auto;
            cursor: pointer;
            
            .Margin{
                height: var(--mainPageMargin);
                width: 100%;
                background-color: var(--secondary-bg-color);
            }
            .Month{
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;
                margin: 5px;
                background-color: var(--light-bg-color);
                border-radius: 10px;
                padding: 5px;
    
                .MonthName{
                    font-weight: var(--fontWeightBold);
                }
    
                .Week {
                    margin: 0px !important;
                    padding: 0px !important;
                    border-top: none !important;
                }
    
                .WeekDayName, .WeekDay, .WeekNumber, .WeekDayDate{
                    background-color: rgba(255, 255, 255, 0) !important;
                    font-size: var(--fontSizeSmall) !important;
                    width: 1.3em !important;
                    height: 1.3em !important;
                    border-radius: 0 !important;
                
                }
            }
            .SelectedMonth{
                background-color: var(--selected-bg-color);
            }
        }

        
       
    }

    .Footer{
        background-color: var(--main-bg-color);
        height: 80px;
        display: flex;
        flex-direction: row;
        padding: 0 var(--mainPageMargin) var(--mainPageMargin) var(--mainPageMargin);
        // background-color: rgb(251, 240, 255);
    }

}