@import "@/app/styles/mixins/adaptive.scss";

.UserForm{
    color: red;
    font-size: larger;
    display: flex;
    align-items: center;
    // justify-content: center;
    // flex-grow: 1;
    svg {
        cursor: pointer;
    }
}